.theme-container {
  list-style-type: none;
}

.theme-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  height: 24px;
  color: #94a3b8;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}
@media screen and (max-width: 760px) {
  .theme-btn {
    font-size: 17px;
  }
}
.active-theme-class {
  color: #f8fafc !important;
}
